.passwordDialog #text {
    height: 25pt;
}

.passwordDialog {
    width: 180.14pt;
}

.passwordText { 
    padding-left: 17.62pt; 
} 

.passwordDialog .passwordInput { 
    margin-left: 17.62pt; 
} 

.passwordDialog .buttonsRow { 
    margin-left: 17.62pt; 
}
