.passwordDialog #text {
    height: 25pt;
}

.passwordDialog {
    width: 159pt;
}

.passwordText {
    padding-left: 8.62pt;
}

.passwordDialog .passwordInput {
    margin-left: 8.62pt;
}

.passwordDialog .buttonsRow {
    margin-left: 8.62pt;
}
