.passwordDialogBody {
    margin: 0pt;
}

.passwordDialog {
    width: 160.14pt;
    padding-bottom: 6.8pt;
}
.dialog-title-text {
    font-size: 11pt;
    padding-left: 8.62pt;
}
.passwordDialog .dialog-title {
    margin-bottom: 8.62pt;
}

.close-button-hit-target{
    position: absolute;
    right: 2.59pt;
    width: 17.25pt;
    height: 17.25pt;
}

.passwordText {
    padding-left: 8.62pt;
    padding-right: 8.62pt;
    padding-top: 4.74pt;
    padding-bottom: 10.35pt;
    font-size: 8.2pt;
}

.passwordDialog #text {
    margin-top: -6.46pt;
    padding-bottom: 0pt; 
}

.passwordDialog #hintPrompt {
    font-weight: bold;
    float: left;
    padding-right: 4.31pt;
    padding-bottom: 0pt; 
}

.passwordDialog #forgotPassword {
    font-weight: bold;
    float: left;
    padding-right: 0pt;
    height: 17.24pt;
}

.passwordDialog .buttonRight {
    background-image: url('../assets/right_arrow.png');
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 4.0pt; 
    height: 17.24pt;
    width: 17.24pt;
    float: left;
}

.passwordDialog .passwordInput {
    -webkit-box-sizing: border-box;
    color: #000000;
    background-color: #FFFFFF;
    font-family: "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
    font-size: 8.2pt;
    font-weight: normal;
    border: 0.86pt solid #000000;
    outline-style: none;
    height: 21.55pt;
    width: 141.92pt;
    margin-bottom: 8.62pt;
    margin-left: 8.62pt;
    margin-right: 8.62pt;
    padding-left: 4.31pt;
    padding-right: 4.31pt;
}

.passwordDialog .buttonsRow {
    margin-left: 8.62pt;
    margin-right: 8.62pt;
}

.keypadButton:last-child {
    margin-right: 0pt;
}

.keypadButton {
    position: relative;
    float: left;
    width: 45.84pt;
    height: 22.38pt;
    text-align: center;
    font-family: dialog;
    font-weight: normal;
    font-size: 11pt;
    -webkit-box-sizing: border-box;
    -webkit-border-radius: 2.8pt;
    border-style: solid;
    border-color: #000000;
    border-left-width: 0.8pt;
    border-right-width: 0.8pt;
    border-top-width: 0.8pt;
    border-bottom-width: 2pt;
    padding-top: 3pt;
    padding-right: 0;
    padding-left: 0;
    margin-right: 2.20pt;
    margin-bottom: 2pt;
    background-color: #FFFFFF; 
    color: #000000;
}

.passwordXOR {
    background-color: #000000;
    color: #FFFFFF;
    -webkit-font-smoothing: none;
}

.passwordDialog #backspace {
    background-image: url('../assets/delete_icon.png');
    background-position: center;
    background-repeat: no-repeat;
}

.passwordDialog:after {
  display: block;
  content: '';
  clear: both;
}

.forgotPasswordDialog {
    width: 214.70pt;
}

.forgotPasswordDialog .dialog-title {
    margin-bottom: 2.15pt;
}

.forgotPasswordDialog:after {
  visibility: visible;
  content: '';
  clear: both;
}

